<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

  <Appenders>
    <File name="File" fileName="test">
      <PatternLayout>
        <pattern>%d %p %C{1.} [%t] %m%n</pattern>
      </PatternLayout>
    </File>
  </Appenders>

  <Loggers>
    <Logger name="py.com.konecta.services.TestResource" additivity="false">
      <AppenderRef ref="File"/>
    </Logger>
  </Loggers>

</Configuration>